body {
  background: #ffffff;
  color: #000000;
  fill: #000000;
}

svg {
  font-weight: normal;
}

.panel-right {
  background-color: #ffffff;
}

.panel-right-control {
  background-color: #ff6600;
  color: #ffffff;
}

.border {
  border: 1px solid #cccccc;
}

.border-left {
  border-left: 1px solid #cccccc;
}

rect.chart-legend {
  fill: #FFFFFF;
  stroke: #cccccc;
}

text.chart-legend {
  fill: #ff6600;
}

.dragdealer {
  background: #eeeeee;
}

.handle {
  background: #ff6600;
  color: #111111;
}

.nv-label text {
  fill: #ff6600;
}

.nv-legend-text {
  fill: #000000;
}

.nv-pie path {
  stroke: #222222;
}

.th-fg-color {
  color: #ff6600;
}

.tooltip {
  background: rgba(255,255,255,0.9);
  border-color: rgba(0,0,0,0.2);
}

.tooltip-close {
  background-color: #ff6600;
  color: #ffffff;
}

select {
  background: #eeeeee;
  border-color: rgba(0,0,0,0.2);
  color: #000000;
}