body {
  background: #fff;
}

.menu {
  background-color: #fff;
}

.menu-button {
  background-color: #f60;
  color: #fff;
}

.border {
  border: 1px solid #ccc;
}

.border-left {
  border-left: 1px solid #ccc;
}

rect.chart-legend {
  fill: #fff;
  stroke: #ccc;
}

text.chart-legend {
  fill: #f60;
}

.handle {
  background: #f60;
  color: #222;
}

.node-label {
  fill: #222;
}

.nv-label text {
  fill: #f60;
}

.nv-legend-text {
  fill: #000;
}

.nv-pie path {
  stroke: #222;
}

.th-fg-color {
  color: #f60;
}

.breakdown {
  background: rgba(255, 255, 255, 0.8);
  border-color: #222;
}

.breakdown-close {
  background-color: #f60;
  color: #fff;
}

select {
  background: #ccc;
  border-color: #222;
  color: #000;
}
