@charset "UTF-8";
html,
body {
  font-family: "Trebuchet MS", "Open Sans", "Segoe UI light", "Verdana", "Tahoma", "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

svg {
  font-weight: normal;
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 30em;
}

a,
a:active {
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: underline;
}

.dev-mode {
  background-color: yellow;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
  left: 40%;
  opacity: 0.9;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 20%;
  z-index: 1;
}

.flex-center {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.hide {
  display: none;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 0;
}

.loading > div {
  font-size: 75px;
  font-weight: bold;
}

.panel-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 26px;
  min-width: 220px;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 40px;
  transition: all 500ms ease-in-out;
  width: 25%;
  z-index: 600000;
}

#chart {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 500ms ease-in-out;
  width: 100%;
}

.pagetitle {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
}

#titlebar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 7%;
  justify-content: space-between;
  width: 100%;
}

.titlebar-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
}

.titlebar-icon,
.menu-button {
  cursor: pointer;
  margin: 0 10px 0 10px;
}

#lblDQStatus {
  cursor: pointer;
  margin-left: 10px;
}

#lblOrganisationStatus,
#lblDayStatus,
#lblCallStatus {
  margin-left: 5px;
}

select {
  direction: rtl;
  height: 1.5em;
  width: 130px;
}

input:hover,
select:hover,
option:hover {
  cursor: pointer;
}

.call-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.panel-right.ready {
  transform: translateX(100%);
}

.menu-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: bold;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.panel-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-height: 1.3em;
}

.chart-legend {
  cursor: move;
  opacity: 1;
}

rect.chart-legend {
  fill-opacity: 1;
}

text.chart-legend {
  font-size: 0.8em;
  font-weight: bold;
  opacity: 1;
}

.link {
  stroke: #000;
  stroke-opacity: 0.3;
}

.link:hover {
  stroke-opacity: 0.7;
}

.link:hover,
.nv-slice:hover {
  cursor: pointer;
}

.node-label {
  fill: #000;
  font-weight: bold;
  text-anchor: middle;
}

.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.data-quality {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.centerpielabel {
  font-weight: bold;
  text-anchor: middle;
}

.breakdown {
  border: 1px solid;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 4px;
  position: fixed;
  transition: opacity 500ms ease-in-out;
  width: 40%;
  z-index: 2000;
}

.breakdown-message {
  width: 90%;
}

.breakdown-message > table {
  width: 100%;
}

.breakdown-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2em;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 20px;
}

.breakdown-close::after {
  content: "×";
  display: inline-block;
}

.breakdown-charts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9em;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.breakdown.left {
  left: 5px;
  position: fixed;
  top: 12%;
}

.breakdown.right {
  position: fixed;
  right: 5px;
  top: 12%;
}
