html,
body {
  font-family: "Trebuchet MS", "Open Sans", "Segoe UI light", "Verdana", "Tahoma", "Helvetica", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

select {
  direction: rtl;
  height: 1.5em;
  width: 130px;
}

a,
a:active {
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: underline;
}

input:hover,
select:hover,
option:hover {
  cursor: pointer;
}

.call-options {
  display: flex;
  flex-flow: column;
}

.centerpielabel {
  font-weight: bold;
  text-anchor: middle;
}

.data-quality {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.dev-mode {
  background-color: yellow;
  bottom: 0px;
  color: #000;
  font-size: 0.7em;
  font-weight: bold;
  opacity: 0.9;
  padding: 5px;
  position: fixed;
  right: 0px;
  text-align: center;
  width: 20%;
  z-index: 1;
}

.dragdealer {
  height: 30px;
  z-index: 8;
}

.dragdealer.menu {
  height: 18px;
  width: 130px;
}

.dragdealer .handle {
  cursor: pointer;
  left: 0;
  opacity: 1;
  top: 0;
}

.dragdealer .red-bar {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100px;
}

.dragdealer .orange-bar {
  font-size: 18px;
  font-weight: bold;
  height: 18px;
  line-height: 16px;
  text-align: center;
  width: 25px;
}

.dragdealer .handle:hover {
  box-shadow: 0 0 15px #667;
  outline: 1px solid;
}

.flex-center {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hide {
  display: none;
}

.link {
  stroke: #000;
  stroke-opacity: .3;
}

.link:hover {
  stroke-opacity: .7;
}

.link:hover,
.nv-slice:hover {
  cursor: pointer;
}

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.loading>div {
  font-size: 75px;
  font-weight: bold;
}

.node-label {
  fill: #000000;
  font-weight: bold;
  text-anchor: middle;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
}

.pagetitle {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
}

.panel-right {
  display: flex;
  flex-direction: column;
  line-height: 26px;
  min-width: 220px;
  padding: 15px;
  position: fixed;
  right: 0px;
  top: 40px;
  transition: all 500ms;
  width: 20%;
  z-index: 600000;
}

.panel-right.ready {
  transform: translateX(100%);
}

.panel-right-control {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 15%;
  z-index: 600001;
}

.panel-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 1.3em;
}

.tooltip {
  border: 1px solid;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 4px;
  width: 40%;
  z-index: 2000;
}

.tooltip-close {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
}

.tooltip-close:after{
  content: "\00d7";
  display: inline-block;
}

.tooltip-charts {
  font-size: 0.9em;
  z-index: 100000;
}

.tooltip.left {
  left: 5px;
  position: fixed;
  top: 12%;
}

.tooltip.right {
  position: fixed;
  right: 5px;
  top: 12%;
}

#chart {
  float: left;
  height: 99%;
  position: absolute;
  width: 90%;
  z-index: 5;
}

#content {
  transition: opacity 500ms;
}

#miniDQChart {
  cursor: pointer;
  left: 40px;
  position: absolute;
  text-align: center;
  top: 45px;
}

#quality {
  font-size: 33px;
  line-height: 12px;
}

#titlebar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  height: 30px;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 80%;
  z-index: 9;
}


#timeslider {
  bottom: 20;
  left: 40;
  position: fixed;
  width: 85%;
}